body{
    font-family: arial,sans-serif;
    font-size: 14px;
}
.header1{
    height: 65px;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: flex-end;
    background-color: white;
    z-index: 10000;
}
.header1 .g-logo{
    height: 33px;
    width: 92px;
    margin: 0 40px 5px 20px;
}
.header1 .searchbar{
    height: 42px;
    width: 692px;
    outline: none;
    border: 1px solid rgb(220,220,220);
    border-radius: 50px;
    text-indent: 30px;
}
.searchbar:hover{
    -moz-box-shadow: 0 0 5px #ccc;
    -webkit-box-shadow: 0 0 5px #ccc;
    box-shadow: 0 0 4px #ccc;
}
.header1 p{
    position: absolute;
    font: 16px arial,sans-serif;
    left: 170px;
    bottom: -2px;
}
.header1 .g-btn{
    position: absolute;
    left: 726px;
    bottom: 10px;
    height: 26px;
}
.header1 .g-app{
    position: absolute;
    right: 182px;
    bottom: -2px;
    z-index: 100;
    height: 44px;
    width: 44px;
}
.header1 .g-apphover{
    position: absolute;
    right: 180px;
    bottom: -4px; 
    height: 49px;
    width: 53px;
}
.g-app:hover{
    visibility: hidden;
}
.header1 .btn{
    line-height: 19px;
    position: absolute;
    right: 38px;
    bottom: 4px;
    text-decoration: none;
    background-color: #1a73e8;
    color: white;
    font-family: Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-weight: 500;
    font-size: 14px;
    width: 135px;
    width: 92px;
    height: 19px;
    text-align: center;
    border-radius: 4px;
    vertical-align: middle;
    padding: 9px 23px;
}
.header1 .btn:hover{
    background-color: #2b7de9;
    -webkit-box-shadow: 0 1px 2px 0 rgba(66,133,244,0.3), 0 1px 3px 1px rgba(66,133,244,0.15);
    box-shadow: 0 1px 2px 0 rgba(66,133,244,0.3), 0 1px 3px 1px rgba(66,133,244,0.15);
}
.header2{
    width: 100%;
    height: 58px;
    border: 1px solid rgb(220,220,220);
    position: absolute;
    left: 0px;
    top: 66px;
    border-top: none;
}
.header2 li{
    font: 13px arial, sans-serif;
    color: #5f6368;
    cursor: pointer;
}
.header2 .li1{
    float: left;
    list-style-image: url(images/li1.png);
    box-sizing: border-box;
    min-height: 38px;
    min-width: 300px;
    margin: 6px -225px 10px 165px;
    color: #1a73e8;
}
.header2 .li2{
    float: left;
    list-style-image: url(images/li2.png);
    box-sizing: border-box;
    min-height: 38px;
    min-width: 300px;
    margin: 6px -225px 10px 0px;
}
.header2 .li3{
    float: left;
    list-style-image: url(images/li3.png);
    box-sizing: border-box;
    min-height: 38px;
    min-width: 300px;
    margin: 6px -225px 10px 0px;
}    
.header2 .li4{
    float: left;
    list-style-image: url(images/li4.png);
    box-sizing: border-box;
    min-height: 38px;
    min-width: 300px;
    margin: 6px -188px 10px 0px;
}
.header2 .li5{
    float: left;
    list-style-image: url(images/li5.png); 
    box-sizing: border-box;
    min-height: 38px;
    min-width: 300px;
    margin: 3px -220px 10px 0px;
}
.header2 .li6{
    float: left;
    list-style-image: url(images/li6.png); 
    box-sizing: border-box;
    min-height: 38px;
    min-width: 300px;
    margin: 6px -225px 10px 0px; 
}
.header2 .li7{
    display: inline-block;
    margin: 11px 18px 10px 16px;
}
.header2 .li8{
    display: inline-block;
    margin: 11px 18px 10px 16px;
    height: 12px;
    width: 92.66px;
    text-align: center;
    position: absolute;
    top: 2px;
    left: 742px;
    padding-top: 12px;
    padding-bottom: 12px;
} 
.header2 .li8:hover{
    border: 1px solid #dadce0;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-color: #f8f9fa;
    color: #202124;
}
.header2 .hr-line{
    border: 1.8px solid rgb(26, 115, 232);
    background-color:rgb(26, 115, 232);
    width: 74px;
    position: absolute;
    bottom: -8px;
    left: 172px;
}
main{
    width: 1280px;
    height: 2050px;
    position: absolute;
    left: 0px;
    top: 59px;
}
main .results{
    color: #70757a;
    text-indent: 178px;
}
main .rs{
    line-height: 1.3;
    width: 652px;
    height: 1735px;
    position: absolute;
    left: 178px;
    top: 35px;
    text-align: left;
}

main .rs .sus {
    color: #202124;
    cursor: pointer;
}
main .rs .sus span{
    cursor: pointer;
    color: #5f6368;
}
main .rs .sus a{
    color: #1a0dab;
    text-decoration: none;
}

main .rs .mij{
    font-size: 20px;
    line-height: 0.6;
    display: block;
    margin-bottom: 14px;
    color: #1a0dab;
    text-decoration: none;
}
main .rs .jos{
    line-height: 1.58;
    margin-top: -3px;
    margin-bottom: 28px;
    color: #4d5156;
    cursor: pointer;
}
main .rs .jos em{
    color: #5f6368;
    font-weight: bold;
    font-style: normal;
}
main .rs a:hover{
    text-decoration: underline;
}    
main .rs a:visited {
    color: #609;
} 
main .rs .imglogo{
    height: 29px;
    width: 25px;
} 
main .rs .hh3{
    font-size: 20px;
    line-height: 1.3;
    position: absolute;
    left: 34px;
    top: -15px;
    font-weight: normal;
    cursor: pointer;
}  
main .rs .hh3:hover{
    color: #1a0dab;
}
main .rs .chestii{
    position: absolute;
    margin-top: -7px;
    width: 654px;
    height: 312px;
}
main .rs .chestiisus{
    display: flex;
    color: #3c4043;
    cursor: pointer;
    font: 400 12px arial,sans-serif;
    margin-top: 10px;
}
main .rs .ch1{
    border: 1px solid #dadce0;
    border-radius: 18px;
    margin-right: 7px;
    box-sizing: border-box;
    height: 34px;
    font-size: 14px;
    line-height: 34px;
    padding: 0 8px;
    text-align: center;
}
main .rs .ch2{
    border: 1px solid #dadce0;
    border-radius: 18px;
    margin-right: 7px;
    box-sizing: border-box;
    height: 34px;
    font-size: 14px;
    line-height: 34px;
    padding: 0 8px;
    text-align: center;
}
main .rs .ch3{
    border: 1px solid #dadce0;
    border-radius: 18px;
    margin-right: 7px;
    box-sizing: border-box;
    height: 34px;
    font-size: 14px;
    line-height: 34px;
    padding: 0 8px;
    text-align: center;
}
main .rs .ch4{
    border: 1px solid #dadce0;
    border-radius: 18px;
    margin-right: 7px;
    box-sizing: border-box;
    height: 34px;
    font-size: 14px;
    line-height: 34px;
    padding: 0 8px;
    text-align: center;
}
main .rs .ch5{
    border: 1px solid #dadce0;
    border-radius: 18px;
    margin-right: 7px;
    box-sizing: border-box;
    height: 34px;
    font-size: 14px;
    line-height: 34px;
    padding: 0 8px;
    text-align: center;
}
main .rs .ch6{
    border: 1px solid #dadce0;
    border-radius: 18px;
    margin-right: 7px;
    box-sizing: border-box;
    height: 34px;
    font-size: 14px;
    line-height: 34px;
    padding: 0 8px;
    text-align: center;
}
.ch1:hover{
    background: #f8f9fa;
}
.ch2:hover{
    background: #f8f9fa;
}
.ch3:hover{
    background: #f8f9fa;
}
.ch4:hover{
    background: #f8f9fa;
}
.ch5:hover{
    background: #f8f9fa;
}
.ch6:hover{
    background: #f8f9fa;
}
main .rs .chimg{
    height: 41px;
    position: absolute;
    right: 10px;
}
main .rs .chestimg{
    position: absolute;
    left: -11px;
    top: 93px;
    height: 157px;
    width: 690px;
}
main .rs .chestijos1{
    border-top: 1px solid  #dadce0;
    position: absolute;
    top: 273px;
    width: 100%;;   
}
main .rs .chestijos2{
    width: 300px;
    height: 36px;
    position: absolute;
    top: 264px;
    left: 150px;
    z-index: 100;
    border: 1px solid  #dadce0;
    border-radius: 18px;
    line-height: 35px;
    text-align: center;
    background-color: #FFF;
    color: #1a0dab;
    cursor: pointer;
}
main .rs .sageata{
    position: absolute;
    top: 271px;
    left: 162px;
    z-index: 101;
    height: 22px;
}
main .rs .chestijos2:hover{
    background: #fafafa;
}
main .rs .fq{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 979px;
    border: 1px solid  #dadce0;
    width: 652px;
    border-radius: 12px;

}
main .rs .fq .sus{
    color: #202124;
    font-size: 20px;
    line-height: 2.30;
    padding-left: 16px;
}
main .rs .fq .inner{
    padding-right: 40px;
    border-top: 1px solid #e5e5e5;
    cursor: pointer;
    font-size: 16px;
    line-height: 2.58;
    padding-left: 16px;
}
main .rs .fq .inner img{
    position: absolute;
    right: 20px;  
}
main .rs .div1{
    position: relative;
    top: 594px;
}
main .plm{
    position: absolute;
    top: 1770px;
    left: 177px;
    font-size: 20px;
}
main .divstanga{
    position: absolute;
    bottom: 109px;
    left: 177px;
    display: flex;
    flex-direction: column;
    line-height: 27px;
    font-weight: 700;
}
main .divstanga a{
    text-decoration: none;
    color: #210dab;
}
main .divdreapta{
    position: absolute;
    bottom: 109px;
    left: 481px;
    display: flex;
    flex-direction: column;
    line-height: 27px;
    font-weight: 700;
}
main .divdreapta a{
    text-decoration: none;
    color: #210dab;
}    
main .google{
    position: absolute;
    bottom: 55px;
    left: 336px;
}
main .nr{
    display: flex;
    position: absolute;
    bottom: 32px;
    left: 374px;
}
main .nr .nra{
    margin-right: 9px;
    text-decoration: none;
    color: #4285f4;
}
main .nr .nra:hover{
    text-decoration: underline;
}
main .nr .inainte{
    text-decoration: none;
    margin-left: 40px;
    color: #4285f4;
}
.footer1{
    border: .1px solid #dadce0;
    height: 41px;
    position: absolute;
    top: 2109px;
    left: 0px;
    right: 0px;
    background-color: rgb(242 242 242);
    display: flex;
}
.footer1 .lct{
    margin-left: 174px;
    line-height: 40px;
    font-size: 15px;
    color: rgba(0,0,0,.54);
} 
.footer1 .nustiu{
    border-left: 1px solid #dadce0;
    margin-left: 18px;
    margin-top: 8px;
    padding-left: 28px;
    line-height: 24px;
    height: 25px;
}
.footer1 img{
    position: absolute;
    top: 14px;
    left: 266px;
}
.footer1 .plm2{
    color: #3c4043;
    font-weight: bold;
}
.footer1 .plm3{
    color: #70757a;
}
.footer1 .plm4{
    color: #70757a;
    text-decoration: none;
}
.plm4:hover{
    color: black;
}
.footer2{
    border: .1px solid #dadce0;
    height: 41px;
    position: absolute;
    top: 2150px;
    left: 0px;
    right: 0px;
    background-color: rgb(242 242 242);
}
.footer2 .pr{
    color: #70757a;
    text-decoration: none;
    padding-left: 173px;
}
.footer2 .cl{
    color: #70757a;
    text-decoration: none;
    padding-left: 24px;
    line-height: 46px;
}
.pr:hover, .cl:hover{
    color: black;
}