body{
    font-family: arial,sans-serif;
    font-size: 14px;
}
.header1{
    height: 65px;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: flex-end;
    background-color: white;
    z-index: 100;
}
.header1 .g-logo{
    height: 33px;
    width: 92px;
    margin: 0 40px 5px 20px;
}
.header1 .searchbar{
    height: 42px;
    width: 692px;
    outline: none;
    border: 1px solid rgb(220,220,220);
    border-radius: 50px;
    text-indent: 30px;

}
.searchbar:hover{
    -moz-box-shadow: 0 0 5px #ccc;
    -webkit-box-shadow: 0 0 5px #ccc;
    box-shadow: 0 0 4px #ccc;
}
.header1 p{
    position: absolute;
    font: 16px arial,sans-serif;
    left: 170px;
    bottom: -2px;
}
.header1 .g-btn{
    position: absolute;
    left: 726px;
    bottom: 10px;
    height: 26px;
}
.header1 .g-app{
    position: absolute;
    right: 182px;
    bottom: -2px;
    z-index: 100;
    height: 44px;
    width: 44px;
}
.header1 .g-apphover{
    position: absolute;
    right: 180px;
    bottom: -4px; 
    height: 49px;
    width: 53px;
}
.g-app:hover{
    visibility: hidden;
}
.header1 .btn{
    position: absolute;
    right: 38px;
    bottom: 4px;
    text-decoration: none;
    background-color: #1a73e8;
    color: white;
    font-family: Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-weight: 500;
    font-size: 14px;
    width: 135px;
    width: 92px;
    height: 19px;
    text-align: center;
    border-radius: 4px;
    vertical-align: middle;
    padding: 9px 23px;
}
.header1 .btn:hover{
    background-color: #2b7de9;
    -webkit-box-shadow: 0 1px 2px 0 rgba(66,133,244,0.3), 0 1px 3px 1px rgba(66,133,244,0.15);
    box-shadow: 0 1px 2px 0 rgba(66,133,244,0.3), 0 1px 3px 1px rgba(66,133,244,0.15);
}
.header2{
    width: 100%;
    height: 58px;
    border: 1px solid rgb(220,220,220);
    position: absolute;
    left: 0px;
    top: 66px;
    border-top: none;
}
.header2 li{
    font: 13px arial, sans-serif;
    color: #5f6368;
    cursor: pointer;
}
.header2 .li1{
    float: left;
    list-style-image: url(images/li1.png);
    box-sizing: border-box;
    min-height: 38px;
    min-width: 300px;
    margin: 6px -225px 10px 165px;
    color: #1a73e8;
}
.header2 .li2{
    float: left;
    list-style-image: url(images/li2.png);
    box-sizing: border-box;
    min-height: 38px;
    min-width: 300px;
    margin: 6px -225px 10px 0px;
}
.header2 .li3{
    float: left;
    list-style-image: url(images/li3.png);
    box-sizing: border-box;
    min-height: 38px;
    min-width: 300px;
    margin: 6px -225px 10px 0px;
}    
.header2 .li4{
    float: left;
    list-style-image: url(images/li4.png);
    box-sizing: border-box;
    min-height: 38px;
    min-width: 300px;
    margin: 6px -188px 10px 0px;
}
.header2 .li5{
    float: left;
    list-style-image: url(images/li5.png); 
    box-sizing: border-box;
    min-height: 38px;
    min-width: 300px;
    margin: 3px -220px 10px 0px;
}
.header2 .li6{
    float: left;
    list-style-image: url(images/li6.png); 
    box-sizing: border-box;
    min-height: 38px;
    min-width: 300px;
    margin: 6px -225px 10px 0px; 
}
.header2 .li7{
    display: inline-block;
    margin: 11px 18px 10px 16px;
}
.header2 .li8{
    display: inline-block;
    margin: 11px 18px 10px 16px;
    height: 12px;
    width: 92.66px;
    text-align: center;
    position: absolute;
    top: 2px;
    left: 742px;
    padding-top: 12px;
    padding-bottom: 12px;
} 
.header2 .li8:hover{
    border: 1px solid #dadce0;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-color: #f8f9fa;
    color: #202124;
}
.header2 .hr-line{
    border: 1.8px solid rgb(26, 115, 232);
    background-color:rgb(26, 115, 232);
    width: 74px;
    position: absolute;
    bottom: -8px;
    left: 172px;
}
main{
    border: 1px solid rgb(220,220,220);
    width: 1280px;
    height: 2013px;
    position: absolute;
    left: 0px;
    top: 59px;
}
main .results{
    color: #70757a;
    text-indent: 178px;
}
main .rs{
    line-height: 1.3;
    border: 1px solid rgb(220,220,220);
    width: 652px;
    height: 1713px;
    position: absolute;
    left: 178px;
    top: 35px;
    text-align: left;
}

main .rs .sus {
    color: #202124;
    cursor: pointer;
}
main .rs .sus span{
    cursor: pointer;
    color: #5f6368;
}
main .rs .sus a{
    color: #1a0dab;
    text-decoration: none;
}

main .rs .mij{
    font-size: 20px;
    line-height: 0.6;
    display: block;
    margin-bottom: 14px;
    color: #1a0dab;
    text-decoration: none;
}
main .rs .jos{
    line-height: 1.58;
    margin-top: -3px;
    margin-bottom: 28px;
    color: #4d5156;
}
main .rs .jos em{
    color: #5f6368;
    font-weight: bold;
    font-style: normal;
}
main .rs a:hover{
    text-decoration: underline;
}    
main .rs a:visited {
    color: #609;
}    

